$blue: #1393ff;
$dark-blue: #0a508c;

$light-grey: #868c96;
$grey: #c8ccd4;
$dark-grey: #c3ccd9;
$black: #4f5b65;
$white: #ffffff;
$red: #b02337;

$font-mid: 14px; 
$font-small: 12px;

$breakpoint-mobile: "screen and (max-width: 600px)";
